<style type="text/css">
body
{
background-image:url('assets/blue.png');
}
</style>
<center><H1>WELCOME TO EDIT YOUR DATA</H1></br></br></br>

<%= form_for @edit,:url=>{:action=>'update',:id=>@edit.id} do |s|%>
DEPT_NAME:<%=s.text_field :dept_name%></br></br>
HOD_NAME:<%=s.text_field :hod_name%></br></br>
<%=s.submit("SAVE")%>
<%end%></br></br>
<%=link_to'back',{:action=>'showall'}%>
</center>
